@{
    ViewData["Title"] = "About";
}

<h1>About Me</h1>

<p>Hi everyone. My name is Tracey Pinckney. I am a software developer with a passion for building web applications. 
    I have a degree in Information Technology in Programming and Development. I am currently working on my bachelors in 
    Computer Science with a minor in Marketing. I enjoy Jesus, singing, coding and spending time with my friends. 
    This portfolio showcases my work and projects. I am excited to share my journey with you!</p>

<p>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</p>
